*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: bisque;
   
}
.container{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    padding: 10px;
    align-items: center;
    border:1px solid red;

}
.form{
    width:60%;
    display: flex;
    flex-direction: column;
    margin:20px;

}
.form label{
    font-size: 20px;
    margin: 5px 0;
}
.form input{
    font-size: 20px;
    padding: 10px 5px;
    border:0;
    border-radius: 5px;
    outline: none;
   
}


.form button{
    height:40px;
    margin:15px 0;
    border:none;
    font-size: 15px;
    border-radius: 5px;
    background-color:blue;
    color:#fff;


}


.form button:hover{
    background-color: rgb(118, 118, 218);

}

.part2{
    display: flex;
    width:30%;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid green;
    height: 300px;
 
}

.part2 button{
    border-radius: 50%;
    height: 30px;
    width:30px;
    margin:5px;
    border: none;
    background-color:aqua


}